*,
*::before,
*::after{
    box-sizing: border-box;    
}

@font-face{
    font-family: geomanist;
    src: url(fonts/geomanist-regular-webfont.woff2);
    
}

@font-face {
    font-family: gochi-hand;
    src: url(fonts/gochi-hand-v11-latin-regular.woff2);
}

body {
    font-family: geomanist,sans-serif;        
    margin: 0;  
    padding-top: 72px;         
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.max-width {
    max-width: 1280px;
    margin: 0 auto;    
}

.card {
    background-color: white;
}

.card-centred {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-icon {
    margin:0 0 24px 0;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin:0 0 8px 0;
}

.card-description {
    margin:0 0 28px 0;
}

.card-label {
    margin-top: auto;
    color:  #088E8F;
    display: flex;
    align-items: center;    
}

.card-label-arrow {
    margin-left: 4px;
}

.navbar-container {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 12;
    left: 0;
    right: 0;
}

.navbar {
    padding: 19px 24px;    
    display: flex;          
    align-items: center;    
    justify-content: space-between;
}

.links {           
    list-style: none; 
    padding: 0;
    display: none; 
    margin: 0 20px;  
}

.links .links-item {
    display: inline-block;
}

.links .links-item + * {
    margin-left: 30px;
}

.nav-button {       
    display: none;
    align-items: center;         
    outline: none;
    border: 0;
}

.button {
    border: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;    
}

.button:focus {
    background-color: teal;
    color: white;
} 

.button-primary {     
    background: rgba(0, 88, 91, 1); 
    color: white;   
    border: 1px solid rgba(0, 88, 91, 1);
}

.button-secondary {    
    border: 1px solid  #088E8F;  
    background-color: white; 
    color: #088E8F;
}

.button-medium {
    padding: 14px 20px;    
}

.button-large {
    padding: 16px;
    min-width: 222px;
}

.newsletter {
    padding: 48px 24px;
    background-color: rgba(0, 88, 91, 1); 
    color: white;      
}

.nl-title {
    font-size: 24px;    
    margin: 0;
    text-align: center;
}

.nl-description {    
    margin-top: 10px;
    margin-bottom: 24px;    
    opacity: 0.48;
    text-align: center;
}

.nl-input {
    border-radius: 4px;
    display: flex;

}

.nl-input-field {
    border-radius: 4px 0px 0px 4px;
    border: 0;
    outline:#003c3d;
    padding: 17px;
    flex: 1;
}

.nl-input-field::placeholder {    
    color: rgba(108, 108, 114, 1);   
}

.nl-input-field-button {
    background: rgba(8, 142, 143, 1);    
    padding: 17px;
    border-radius:0px 4px 4px 0px;
    border: 0;
    outline: none;
}

.footer-container {
    background-color: #003c3d;     
}

.footer {
    padding: 40px 24px 32px 24px;      
}

.copyright-container {
    background-color: rgba(0, 52, 54, 1);   
}
.copyright {
    padding: 17px 24px;
}

.copyright-content {
    margin: 0;
    color: white;
    opacity: 0.48;
}

.ft-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;    
}

.ft-box * {    
    color: rgba(255, 255, 255, 0.48);
    display: block;
}

.ft-title {
    margin: 0;
    position: relative;
    margin-bottom: 25px;
    color: white;    
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
    padding-bottom: 6px;
}

.ft-box a {       
    margin-top: 16px;    
}

.ft-additional-info {
    color: rgba(255, 255, 255, 0.48);    
    position: relative;
    margin-top: 73px;    
}

.ft-additional-info::before {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;   
    opacity: .48; 
    top: -32px;
}

.hero-bg {
    background-color: #d6eef2;
    background-image: url(img/pattern-green.png);
    overflow: hidden;
}

.hero {
    display: grid;    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 64px 24px 0px 24px;
}

.hero-label {
 font-size: 12px;
 letter-spacing: 0.5px;
 text-transform: uppercase;
 color: #088E8F; 
}

.hero-title {
    font-size: 40px;     
    margin: 16px 0;      
}

.hero-actions {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;    
}

.hero-graphics {
    position: relative;         
}

.hero-graphics::before {
    content: url(img/dots-rectangle.svg);    
    position: absolute;
    top: 40%;
    left: 60%; 
}

.hero-graphics img {    
    position: absolute;        
}

.hero-img {
    border-radius: 50%;
}

.hero-img1 {    
    width: 72px;
    height: 72px;
    left: 53px;    
}

.hero-img2 {    
    width: 80px;
    height: 80px;
    top: 34px;
    right: 10px;
}

.hero-img3 {    
    width: 100px;
    height: 100px;
    margin: auto;
    left: 0px;
    right: 25px;
    top: 17px;
    bottom: 0;    
}

.hero-img4 {    
    width: 80px;
    height: 80px;
    left: 0;
    bottom: -40px;
}

.hero-img5 {        
    width: 72px;
    height: 72px;
    right: 27px;
    bottom: 18px;
}

.partners {
    padding: 72px 24px 64px 24px;
    position: relative;
}

.partners::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #E3E5E5;
    position: absolute;
    bottom: 48px;    
}

.partners-title {
    text-align: center;
    font-size: 20px;    
}

.partners-list {
    margin-top: 32px;
    display: flex;   
    gap: 40px;    
    align-items: center;
    overflow: auto;
}

.article-text {
    margin: 0 24px;    
}

.a-t-label {
    font-size: 12px;
    color:  #088E8F;    
}

.a-t-title {
    font-size: 32px;
    margin: 16px 0px;
}

.a-t-link {
    display: flex;
    gap: 4px;    
    color: #088E8F;
    margin-top: 28px;
}

.img-container {
    position: relative;
    width: 100%;
}

.article-img {
    position: relative;    
    padding-left: 48px;  
    display: flex;  
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.article-img-why-us {    
    width: 100%;            
}

.img-decorated {
    padding: 15%;
    overflow: hidden;    
    position: relative;
}

.article-img::before {
    position: absolute;
    display: block;
    top: 57%;
    content: '';
    padding-top: 100%;
    width: 100%;
    transform: scale(1.2) translate(0,-50%);
    background-color:  #F9F5F2;     
    z-index: -2;
    right: 20%;    
}

.about-us-img::before {
    
    right: 20%;
}

.img-container::after {
    position: absolute;
    display: block;
    content: url(img/dots-square.svg);
    top: -20px;
    z-index: -1;
    left:-20px;    
}

.logo-dl img {
    max-width: none;
}

.why-us-list {
    margin: 48px 40px 0px 40px;
}

.why-us-list > * + * {
    margin-top: 40px;
}

.our-offer-bg {
    background-color:  #F9F5F2;     
    background-image: url(img/pattern-brown.png);   
    margin-top: 120px;
}

.our-offer {
    padding: 48px 24px 64px 24px;
}

.our-offer-title {
    text-align: center;
    max-width: 70%;    
    margin: 0 auto;
}

.our-offer-title-label {
    text-transform: uppercase;
    color: #088E8F;    
    font-size: 12px;    
}

.our-offer-title-title {
    font-size: 32px;
    font-weight: bold;
}

.our-offer-list {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.our-offer-list-card {
    padding: 24px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.about-us {
    margin-top: 120px;
}

.article-img.about-us-img {
    padding-left: 0px;
    padding-right: 48px;
}

.about-us-img.article-img::before {    
    left: 20%;
}

.img-container-why-us {
    position: relative;
    width: 100%;
}

.img-container-why-us::after {
    bottom: -30px;
    right: -30px;    
    content: url(img/dots-square-orange.png);
    position: absolute;
    display: block;
    z-index: -1;
    
}

.article-text.article-text-why-us {
    padding-left: 48px;
    padding-right: 0px;
}

.quote-bg {
    background-color: #d6eef2;
    background-image: url(img/pattern-green.png);
    margin-top: 64px;
}

.quote {
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.quote-actions {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.quote-indicator {
    display: flex;
    justify-content: center;
}

.quote-actions > * + * {
    margin-left: 4px;
}

.quote-title {
    font-size: 12px;
    text-transform: uppercase;
    color: #088E8F;
}

.quote-review {    
    font-weight: bold;
    margin-top: 32px;
    font-size: 20px;
}

.quote-user {
    font-family: gochi-hand,serif;
    margin-top: 24px;
    font-size: 20px;
    color: #088E8F;    
}

.quote-user-profession {
    margin-top: 8px;
    font-size: 14px;
}

.quote-left-arrow {
    margin-right: 30px;
}

.quote-right-arrow {
    margin-left: 30px;
}

.arrow-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.blog {
    margin-top: 64px;
    padding: 0px 24px;
}

.blog-title {
    text-align: center;
    max-width: 70%;
    margin: 0px auto;    
}

.b-t-label {
    color:  #088E8F;
    text-transform: uppercase;
    font-size: 12px;    
}

.b-t-title {
    margin-top: 16px;
    font-size: 32px;
}

.blog-posts {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.card-with-image {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid  #E8EBEA;   
    padding-bottom: 28px; 
}

.card-with-image-img {
    width: 100%;
    margin-bottom: 16px;
}

.card-with-image-label {
    color:  #088E8F;
    text-transform: uppercase;
    font-size: 13px;
    margin:0 0 8px 0;
}

.card-with-image-title {
    font-size: 18px;
    margin:0 0 8px 0;
}

.card-with-image-description {
    margin:0 0 28px 0;
}

.card-with-image-link {    
    display: flex;
    color: #088E8F;   
    margin-top: auto;    
}

.blog-button {
    display: block;
    margin:60px auto;
}

.left-right,
.right-left {
    display: grid;
    grid-template-columns: 1fr;
    gap: 53px;
    overflow: hidden;
}

.blog-hero-bg {
    background-color: #F9F5F2;    
    background-image: url(img/pattern-brown.png);
}

.blog-hero {
    text-align: center;    
    padding: 80px 24px; 
    position: relative;   
}

.blog-hero::after {
    position: absolute;
    display: block;    
    content: url(img/blog-hero-dots-pink.svg);
    bottom: 20px;    
}

.blog-navigation {
    padding: 10px 24px; 
    border-bottom: 1px solid #E3E6E5;  
    position: relative; 
}

.blog-navigation-large {
    padding: 0 40px ;
    border-bottom: 1px solid #E3E6E5;
    display: none;
    justify-content: space-between;
    font-size: 13px;
    color:  #9F9FA8;    
}

.blog-navigation-large a {  
    padding: 30px 0;      
    text-transform: uppercase;   
    border-bottom: 2px solid transparent;
    
}

.blog-navigation-large a:hover {    
    color: #088E8F;    
    border-color: #088E8F;
    
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0px;
    right: 0px;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

.blog-nav-contant:hover .dropdown{
    display: block;
}

.dropdown a {
    display: block;    
}

.dropdown a:hover {
    color: #088E8F;
}

.dropdown a + a {
    margin-top: 10px;
}

.blog-nav-contant {
    position: relative;
    background-color: #F5F5F5;
    border-radius: 4px;
    width: 327px;
    min-height: 44px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color:  #6C6C72;    
}

.featured,
.other {
    padding: 30px 24px;
}

.featured-main-header,
.other-title {
    font-size: 24px;
}

.featured-main-img-container {
    display: flex;
    align-items: center;
}

.featured-main-img-container img {
    width: 100%;
}

.featured-main-text .a-t-title {
    font-size: 24px;
}

.other-posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.five-card-hide {
    display: none;
}

.blog-components {
    display: flex;   
    justify-content: center;
    align-items: center; 
    margin-top: 50px;    
}

.blog-components * + * {
    margin-left: 5px;
}

.blog-components a,
.blog-components button {
    display: block;
    padding: 10px;
    color:  #088E8F; 
    border-radius: 4px;
}

.blog-components a:active,
.blog-components button:active {
    background-color: #00585B;
    color: white;
}

.blog-components-button {
    background-color: white;
}

.single-blog-section {
    margin-top: 64px;        
}

.single-blog-padding {
    padding: 0 24px;
}

.single-blog-link-social {
    display: flex;
    align-items: center;
    justify-content: space-between;      
}

.s-b-link {  
    display: flex;   
    color:  #088E8F;
}

.back-to-blog {
    display: flex;
    align-items: center;
    margin-left: 9px;
}

.social-share * + * {
    margin-left: 11px;
} 

.social-share-sticky {
    width: 20px;
    position: sticky;
    top: 100px;     
    margin-top: 60px;    
}

.social-share-sticky a {
    display: block;    
}

.social-share-sticky a + a {
    margin-top: 11px;
}

.single-blog-centred {
    max-width: 80%;
    margin: 0 auto;
}

.accident-definition {
    margin-top: -84px;
    padding-bottom: 40px;
    border-bottom: 1px solid  #E8EBEA;    
}

.single-blog-section h3 {
    font-size: 32px;
}

.single-blog-section h4 {
    font-size: 24px;
}

.a-d-definition {    
    margin-right: 64px;
    padding-left: 27px;
    border-left: 3px solid #088E8F;    
}

.c-i-link {
    color: #088E8F;
    text-decoration: underline;
}

.c-i-ul,
.i-p-ul {
    list-style: url(img/bullet.png);
    padding-left: 17px;
}

.c-i-ul * + * ,
.e-i-ol * + * ,
.i-p-ul * + * {
    margin-top: 6px;
}

.e-i-ol {
    padding-left: 17px;    
}

.e-i-ol li,
.c-i-ul li,
.i-p-ul li {
    padding-left: 12px;
}

.e-i-ol li::marker {
    color: #088E8F;    
}

.e-i-img {
    width: 100%;
}

.post::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color:  #E8EBEA;    
}

.faq-hero {
    position: relative;
    text-align: center;
    padding-top: 147px;
    padding-bottom: 147px;
}

.faq-hero::before {
    content: url(img/faq-dots.png);
    position: absolute;
    top: 5px;
    right: 20px;
}

.faq-list {
    margin-top: 81px;    
}

.faq-card {
    display: grid;
    grid-template-columns: 1fr;
}

.faq-card-question-container {
    padding: 24px 0;    
    border-bottom: 1px solid #E3E6E5;
}

.faq-card-question {
    display: flex;
}

.faq-card-title-title {
    font-size: 24px;
}

.faq-card-questions-title {
    font-size: 18px;
}

.faq-card-button {
    margin-left: auto;
    background: none;
    border: none;    
}

.faq-card-button img {
    max-width: none;
}

.faq-card-answer {
    margin-right: 40px;
}

.faq-card + .faq-card {
    margin-top: 64px;
}

@media only screen and (min-width: 600px) {    
       
    .nav-button {
        display: flex;
    }
    .navbar{
        padding: 14px 32px;
    }
    .newsletter {
        padding: 64px 112px;           
    }
    .nl-container {
        padding:0px 32px ; 
        position: relative;        
        transform: translateY(50%);          
    }
    .nl-title {
        font-size: 32px;
    }
    .copyright {
        padding: 17px 32px;
    }
    .ft-links {        
        grid-template-columns: 1fr 1fr;        
    }
    .footer {
        padding: 187px 32px 22px 32px;
    }
    .ft-additional-info {
        display: flex;
    }
    .ft-additional-info p {
        margin-right: 32px;
    }
    .hero {        
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 2fr;
        padding: 85px 48px 109px 48px;
    }
    .hero-actions {
        grid-template-columns: 1fr 1fr;        
    }
    .hero-label {
        font-size: 14px;
    }
    .hero-title {
        font-size: 48px;
    }
    .hero-description {
        font-size: 18px;
    }
    .hero-graphics {
        min-width: 510px;
    }    
    .partners {
        padding: 92px 32px 88px 32px;
    }
    .partners::after{
        display: none;
    }   
    
    .partners-list {           
        column-gap: 24px;
        row-gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo-dl {          
        height: 88px;
        display: grid;
        align-items: center;
        justify-items: center;        
    }
    .partners-title{
        font-size: 24px;
    }    
    .logo-dl img {
        width: auto;
        height: auto;                
    }
    .a-t-label {
        font-size: 14px;
    }
    .a-t-title {
        font-size: 40px;        
    }
    .left-right,
    .right-left {        
        grid-template-columns: 1fr 1fr;               
    }   

    .right-left .col:nth-child(2) {
        order: -1;
    }
    .article-text {
        margin-left: 0px;
        margin-right: 32px; 
        display: flex;
        flex-direction: column;
        justify-content: center;      
    }        
    .why-us-intro {
        gap: 48px;
    }
    .why-us-list {
        margin: 65px 32px 0px 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
    .why-us-list > * + * {
        margin-top: 0px;
    }
    .our-offer {
        padding: 64px 32px 88px 32px;
    }
    .our-offer-title {
        max-width: 339px;
        margin: auto;
    }
    .our-offer-title-label {        
        font-size: 14px;
    }
    .our-offer-title-title {
        font-size: 40px;
    }
    .our-offer-list {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .img-container::after{
        top: -30px;
        left: -30px;
    }
    .quote {
        padding: 64px 32px;
    }
    .quote-title {
        font-size: 14px;        
    }
    .quote-review {
        max-width: 70%;
        margin-top: 48px;
        font-size: 24px;
    }
    .quote-user {
        margin-top: 40px;
        font-size: 24px;
    }
    .quote-user-profession {        
        font-size: 16px;
    }
    .quote-left-arrow {
        position: absolute;
        left: 32px;
        top: 50%;
    }
    .quote-right-arrow {
        position: absolute;
        right: 32px;
        top: 50%;
    }
    .quote-actions {
        margin-top: 48px;
    }
    .blog-posts {
        gap: 25px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .b-t-label {
        font-size: 14px;
    }
    .b-t-title {     
        font-size: 40px;
    }
    .card-with-image {
        padding-bottom: 36px;
    }
    .blog-button {
        padding: 16px 24px;        
    }

    .blog-hero {
        padding: 120px 32px;
    }
    .blog-navigation {
        padding: 14px 32px;
    }
    .featured,
    .other {
        padding: 30px 32px;
    }

    .featured-main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .other-posts {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 40px;
    }
    .five-card-hide {
        display: flex;
    }
    .two-card-hide {
        display: none;
    }    
    .single-blog-padding {
        padding: 0 32px;
    }
}

@media only screen and (min-width: 768px) {
    
    .navbar{
        padding: 14px 48px;
    }
    .newsletter {
        padding: 64px 224px;           
    }
    .nl-container {
        padding:0px 48px ;
    }
    .copyright {
        padding: 17px 48px;
    }
    .footer {
        padding: 194px 48px 28px 48px;
    }
    .ft-links {        
        grid-template-columns: 1fr 1fr 1fr 1fr;        
    }
    .ft-box p::after {
        margin-top: 12px;
    }
    .ft-box p {
        margin-bottom: 37px;
    }
    .hero-title {
        font-size: 56px;
    }        
    .hero {
        padding: 85px 48px 89px 48px;
    }    
    .hero-graphics img{
        transform:scale(1.4);
    }
    .partners {
        padding: 105px 48px 105px 48px;
    }
    .partners-list {
        column-gap: 32px;
    }
    .logo-dl {             
        width: 208px;        
    }
    .a-t-title {        
        font-size: 48px; 
        margin-top: 24px;       
    }   
    .article-text {
        margin-right: 48px;       
    }
     
    .article-img {
        padding-left: 64px;
    } 
    .why-us-intro {
        gap: 80px;
    } 
    .why-us-list {
        margin: 80px 96px 0px 96px;
        gap: 64px;
    } 
    .our-offer {
        padding: 80px 48px 104px 48px;
    }
    .our-offer-title {
        max-width: 407px;
    }
    .our-offer-title-title {
        font-size: 48px;
    }
    .our-offer-list {
        margin-top: 64px;
    }
    .article-img.about-us-img {        
        padding-right: 64px;
    }
    .quote {
        padding: 80px 48px;
    }
    .quote-review {
        margin-top: 64px;        
    }
    .quote-user {
        margin-top: 52px;        
    }
    .quote-actions {
        margin-top: 64px;
    }
    .quote-left-arrow {
        left: 48px;
    }
    .quote-right-arrow {
        right: 48px;
    }
    .b-t-title {
        margin-top: 24px;
        font-size: 48px;
    }   
    .blog-posts {
        margin-top: 64px;
        gap: 32px;
    }
    .card-with-image-title {
        font-size: 24px;
    } 
    .card-with-image {
        padding-bottom: 44px;
    }   
    .blog-hero {
        padding: 147px 48px;
    }
    .blog-navigation {
        padding: 14px 48px;
    }
    .featured,
    .other {
        padding: 30px 48px;
    }
    .featured-main-content {       
        gap: 32px;
    }
    .featured-main-text .a-t-title {
        font-size: 32px;
    }
    .other-posts {
        column-gap: 32px;
    }    
    .single-blog-padding {
        padding: 0 48px;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar {
        padding: 14px 40px;
    }
    .links {
        display: block;
    }
    .newsletter {
        padding: 80px 64px;  
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 177px;
        align-items: center;        
    }
    .nl-container {
        padding:0px 40px ;
    }
    .copyright {
        padding: 17px 40px;
    }              
    .footer {
        padding: 178px 40px 28px 40px;        
    }
    .ft-links {        
        gap: 40px;
    }
    .hero {
        padding: 144px 40px 198px 40px;
    }
    .hero-actions {
        grid-template-columns: auto auto;
        justify-content: start;
    }
    .hero-graphics{
        min-width: 0;
    }
    .partners {
        padding: 137px 143px 120px 143px;
    }

    .partners-list {
        column-gap: 16px;
        row-gap: 24px;
    }    
    .logo-dl {        
        width: 186px;        
    }
    .hero-graphics img {
        transform:scale(1.7);
    }
    .article-text {
        margin-right: 40px;       
    }
    .why-us-intro {
        gap: 120px;
    }
      
    .article-img {
        padding-left: 80px;
    }  
    .why-us-list {
        margin: 120px 142px 0px 142px;
        gap: 88px;
    }
    .our-offer {
        padding: 80px 142px 120px 142px;
    }
    .our-offer-list {
        margin-top: 80px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .img-container::after{
        top: -40px;
        left: -40px;
    }      
       
    .article-img.about-us-img {       
        padding-right: 80px;
    }
    .quote {
        padding: 80px 40px;
    }
    .quote-review {
        margin-top: 80px;        
    }
    .quote-user {
        margin-top: 60px;        
    }
    .quote-actions {
        margin-top: 80px;
    }
    .quote-left-arrow {
        left: 40px;
    }
    .quote-right-arrow {
        right: 40px;
    }
    .blog-posts {
        margin-top: 80px;
    }
    .card-with-image {
        padding-bottom: 60px;
    }
    .blog-hero {
        padding: 147px 40px;
    }
    .featured,
    .other {
        padding: 30px 40px;
    }
    .featured-main-content {       
        gap: 48px;
    }
    .other-posts {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 24px;
        row-gap: 56px;
    }
    .two-card-hide {
        display: flex;
    }
    .blog-navigation {
        display: none;
    }    
    
    .blog-navigation-large {
        display: flex;
    }
    .single-blog-padding {
        padding: 0 40px;
    }
    .faq-card {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 100px;
    }
}
